{% set title = "Change password" %}
{% set description = "Change your password here." %}
{% extends "base.html.j2" %}

{% block content %}
  <p><a href="/">&larr; Back</a></p>

  <form class="form" action="/change_password" method="POST">
    <label for="previous-password">Previous password</label>
    <input type="password" id="previous-password" name="previous_password" placeholder="Previous password" minlength="32" required>

    <label for="password">Password <small>(min. 32 characters)</small></label>
    <input type="password" id="password" name="password" placeholder="Password" minlength="32" required>

    <label for="confirm-password">Confirm Password</label>
    <input type="password" id="confirm-password" name="password_confirm" placeholder="Password" required>

    <input type="submit" value="Change password">
  </form>
{% endblock %}
