{% set override_title = true %}
{% set title = "Lockbox" %}
{% set description = "A centralised location for your personal SSH keys." %}
{% extends "base.html.j2" %}

{% block content %}
  {% if request.user.is_authenticated %}
    <p>Logged in as <strong>{{ request.user.display_name }}</strong>.</p>
    <form class="small-form" action="/logout" method="POST">
      <input class="danger" type="submit" value="Log out">
    </form>

    <form class="form" action="/deploy" method="POST">
      <label for="key">Public Key</label>
      <textarea rows="5" cols="80" name="key" id="key" placeholder="ssh-ed25519 ..." required></textarea>

      <input type="submit" value="Deploy">
    </form>

    {% if user_ssh_keys %}
    <table class="keys-table">
      <thead>
        <th>Comment</th>
        <th>Details</th>
        <th>Actions</th>
      </thead>

      <tbody>
        {% for (algo, contents, comment) in user_ssh_keys %}
          <tr>
            <td><strong>{{ comment }}</strong></td>
            <td>{{ algo }}</td>
            <td>
              <form class="small-form" method="POST" action="/delete_key">
                <input type="hidden" name="key_comment" value="{{ comment }}">
                <input class="danger" type="submit" value="Delete">
              </form>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}
  {% else %}
    <form class="form" action="/login" method="POST">
      <label for="username">Username</label>
      <input type="text" id="username" name="username" placeholder="Username" required>

      <label for="password">Password</label>
      <input type="password" id="password" name="password" placeholder="Password" required>

      <input type="submit" value="Log in">
    </form>

    {% if registration_enabled %}
      <p>Don't have an account? <a href="/register/">Sign up!</a></p>
    {% endif %}
  {% endif %}

{% endblock %}
